.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.core.index.sql.h2.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.server.tomcat.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.svn.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.views.log.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.css.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.dtd.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.html.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.json.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.validation.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xml.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xsl.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.sf.feeling.decompiler.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.configurator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.dashboard.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/WatchMainFrame.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/http-cache.lucene60/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history.lucene60/_0.cfe
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history.lucene60/_0.cfs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history.lucene60/_0.si
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history.lucene60/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history.lucene60/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.si
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/write.lock
.metadata/.plugins/org.eclipse.jdt.core/1031573231.index
.metadata/.plugins/org.eclipse.jdt.core/1294435565.index
.metadata/.plugins/org.eclipse.jdt.core/141371113.index
.metadata/.plugins/org.eclipse.jdt.core/1691139574.index
.metadata/.plugins/org.eclipse.jdt.core/1758754567.index
.metadata/.plugins/org.eclipse.jdt.core/1812303011.index
.metadata/.plugins/org.eclipse.jdt.core/2347720910.index
.metadata/.plugins/org.eclipse.jdt.core/2366019518.index
.metadata/.plugins/org.eclipse.jdt.core/2789537044.index
.metadata/.plugins/org.eclipse.jdt.core/3192050836.index
.metadata/.plugins/org.eclipse.jdt.core/3391911731.index
.metadata/.plugins/org.eclipse.jdt.core/356056350.index
.metadata/.plugins/org.eclipse.jdt.core/3993523842.index
.metadata/.plugins/org.eclipse.jdt.core/4033242516.index
.metadata/.plugins/org.eclipse.jdt.core/733980753.index
.metadata/.plugins/org.eclipse.jdt.core/911855514.index
.metadata/.plugins/org.eclipse.jdt.core/940368378.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/index.db
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.8.3.20180227-2137.xml
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.sugurunomacbook-pro_1156/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.sugurunomacbook-pro_1156/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.sugurunomacbook-pro_1156/H.#30ed##30fc##30ab##30eb#_0/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.search/dialog_settings.xml
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.ui.views.log/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.xtend.ide/resource.change.registry
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/index.html
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/bootstrap/css/bootstrap.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/bootstrap/css/bootstrap.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/bootstrap/js/bootstrap.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/bootstrap/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/application.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/blog.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/buttons.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/dashboard.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/docs.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/flexbox.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/font-awesome.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/fontcustom.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/highlight.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/homepage.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/icons.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/main.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/markdown-content.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/panes.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/projects.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/responsive.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/tools.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/css/typography.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/font-awesome/css/font-awesome.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/font-custom/fontcustom.woff
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/blog.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/blog_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/bug_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/comparison_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/compass.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/compass_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/extension.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/extension_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/favicon.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/forum.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/forum_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/guides.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/guides_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/loading.gif
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/logo_bigleaf.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/logo_spring.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/logo_sts.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/new_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/overlay-incoming.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/question.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/spring-logo.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/springdocs.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/img/springdocs_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/js/application.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/js/filter.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/js/guide.js
.metadata/.copied.metadata.default
.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.history/b1/504bc0851b55001812cec4154588bf34
.metadata/.plugins/org.eclipse.core.resources/.projects/cri_calender/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/cri_calender/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/cri_calender/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/cri_calender/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.sysdeo.eclipse.tomcat.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.xored.glance.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/net.sf.eclipse.tomcat.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ant.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.compare.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.runtime.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.datatools.sqltools.sqleditor.prefs
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/js/jquery.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1526043663453/common/js/modernizer.flexbox.js
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/-549550714.xml
.metadata/.plugins/org.eclipse.core.resources/.history/43/706bc2ea1e55001812cec4154588bf34
.metadata/.plugins/org.eclipse.core.resources/.projects/cri_calender/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/cri_calender/.indexes/e4/81/da/cf/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/cri_calender/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.runtime/.settings/de.jcup.egradle.eclipse.plugin.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ajdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.releng.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.svn.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.frameworks.core.prefs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/http-cache.lucene60/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
.metadata/.plugins/org.eclipse.fx.ide.css.cssext.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.fx.ide.css.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.mylyn.trac.core/repositoryConfigurations
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.xtend.ide/dialog_settings.xml
.metadata/.plugins/org.springframework.ide.eclipse.aop.core/.state
.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/metadata/.state
.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/properties/.state
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.update/623127801.xml
